---
const { currentPage } = Astro.props;
const menuItems = [
  { name: "Lunch", href: "/menu/LunchMenu" },
  { name: "Dinner", href: "/menu/DinnerMenu" },
  { name: "Cocktails", href: "/menu/CocktailMenu" },
  { name: "Brunch", href: "/menu/BrunchMenu" },
];

const activeTab =
  menuItems.find((item) => item.href === currentPage)?.name.toLowerCase() || "";
---

<nav
  class="mb-4 grid grid-cols-4 grid-rows-1 justify-center border-black bg-white"
>
  {
    menuItems.map((item) => (
      <a
        href={item.href}
        class={`marquee border-l-4 border-r-4 px-4 py-2 text-center text-4xl font-extrabold uppercase 
        ${
          activeTab === item.name.toLowerCase()
            ? "border-b-0 border-black  text-black"
            : "border-b-8 border-black text-gray-700 hover:bg-gray-100"
        }`}
        data-tab={item.name.toLowerCase()}
      >
        {item.name}
      </a>
    ))
  }
</nav>
