---
import Drawer from "./drawer/Drawer.astro";
import { brand } from "../../common/companyItems";
---

<Drawer />
<nav class="relative start-0 top-0 z-40 -mb-36 w-full bg-transparent">
  <div class="mx-auto my-4 flex items-center justify-between px-0 py-2 sm:px-6">
    <!-- brand -->
    <div class="mt-6 lg:order-1 lg:flex lg:w-auto">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <div>
          <svg
            class="h-10 w-10 text-white dark:text-gray-200"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <!-- SVG content -->
          </svg>
        </div>
        <span
          class="logo self-center whitespace-nowrap text-3xl font-semibold text-white dark:text-gray-200"
        >
          {brand.company.name}
        </span>
      </a>
    </div>
    <!-- hamburger button -->
    <div class="fixed right-0 top-2 mr-8 mt-6 lg:order-3 lg:flex lg:w-auto">
      <button
        type="button"
        class="inline-flex h-16 w-16 items-center justify-center rounded-full bg-primary-600 p-2 text-sm text-white shadow-[0_10px_25px_rgba(0,0,0,0.3)] hover:bg-primary-700 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-800"
        data-drawer-target="drawer-navigation-right"
        data-drawer-show="drawer-navigation-right"
        aria-controls="drawer-navigation-right"
        data-drawer-placement="right"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-8 w-8"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>
  </div>
</nav>
