---
import { Image } from "astro:assets";

import SectionBreak from "./SectionBreak.astro";
---

<div class="grid grid-cols-8 grid-rows-5">
  <div class="col-span-8 row-span-5 bg-tertiary-500 lg:col-span-4">
    <div class="flex items-center justify-end px-10 py-10 md:py-8 lg:h-screen">
      <h1
        class="mx-4 text-end text-7xl font-extrabold uppercase leading-none tracking-wide text-white md:text-8xl lg:text-9xl"
      >
        We <br /> are <br /> Razor <br /> Back
      </h1>
    </div>
  </div>
  <div class="col-span-8 row-span-5 lg:col-span-4">
    <div
      class="flex flex-col justify-between bg-white dark:bg-gray-800 md:h-full"
    >
      <div class="my-16 px-6 lg:my-auto">
        <p class="mb-4">
          <span
            class="text-2xl font-light uppercase tracking-wide text-primary-600 dark:text-gray-200"
          >
            About Us:
          </span>

          <span
            class="block text-4xl font-medium text-secondary-400 dark:text-secondary-500 lg:text-5xl"
          >
            About Razorback Vegan
          </span>
        </p>

        <div
          class="text-justify text-lg text-gray-400 dark:text-gray-200 md:text-xl xl:text-2xl"
        >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
        </div>
      </div>

      <div class="grid grid-cols-4 md:grid-cols-2 lg:grid-cols-4">
        <div class="border-8 border-secondary-400 bg-secondary-400 text-center">
          <Image
            src="/owner.png"
            alt="Image of the owner."
            width="512"
            height="512"
          />
          <div class="">
            <p class="pt-1 text-xl font-bold text-gray-200">Vincent</p>
            <p class="text-gray-200">Owner & Founder</p>
          </div>
        </div>
        <div class="border-8 border-accent-400 bg-accent-400 text-center">
          <Image
            src="/chef.png"
            alt="Image of the head chef."
            width="512"
            height="512"
          />
          <div class="">
            <p class="pt-1 text-xl font-bold text-gray-200">Julius</p>
            <p class="text-gray-200">Head Chef</p>
          </div>
        </div>
        <div class="border-8 border-primary-400 bg-primary-400 text-center">
          <Image
            src="/sous-chef.png"
            alt="Image of the sous chef."
            width="512"
            height="512"
          />
          <div class="">
            <p class="pt-1 text-xl font-bold text-gray-200">Mia</p>
            <p class="text-gray-200">Sous Chef</p>
          </div>
        </div>
        <div class="border-8 border-tertiary-400 bg-tertiary-400 text-center">
          <Image
            src="/floor-manager.png"
            alt="Image of the floor manager."
            width="512"
            height="512"
          />
          <div class="">
            <p class="pt-1 text-xl font-bold text-gray-200">Marsela</p>
            <p class="text-gray-200">Floor Manager</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<SectionBreak
  backgroundColor="bg-secondary-600"
  stripeColor="bg-accent-400"
  textColor="text-white"
  text="RZBK"
/>
