---
import SectionBreak from "./SectionBreak.astro";
---

<!-- lunch -->
<div class="grid grid-cols-8 grid-rows-5">
  <div
    class="order-first col-span-8 row-span-5 bg-gray-400 bg-[url('/lunch.webp')] bg-cover bg-center bg-no-repeat bg-blend-multiply xl:order-first xl:col-span-4"
  >
    <div class="flex items-center justify-end px-10 py-10 md:py-8 xl:h-screen">
      <h1
        class="mx-4 text-end text-7xl font-extrabold uppercase leading-none tracking-wide text-white md:text-8xl lg:text-9xl"
      >
        Pure <br /> Plant <br /> Protein
      </h1>
    </div>
  </div>

  <div class="order-last col-span-8 row-span-5 xl:order-last xl:col-span-4">
    <div
      class="flex flex-col justify-between bg-white dark:bg-gray-800 md:h-full"
    >
      <div class="my-16 px-6 xl:my-auto">
        <p class="mb-4">
          <span
            class="text-2xl font-light uppercase tracking-wide text-primary-600 dark:text-gray-200"
          >
            Lunch:
          </span>
          <span
            class="block text-4xl font-medium text-secondary-400 dark:text-secondary-500 lg:text-5xl"
          >
            Sammies, wraps, and more
          </span>
        </p>

        <div
          class="text-justify text-lg text-gray-400 dark:text-gray-200 md:text-2xl"
        >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- dinner  -->
<div class="grid grid-cols-8 grid-rows-5">
  <div
    class="order-first col-span-8 row-span-5 bg-gray-400 bg-[url('/dinner.webp')] bg-cover bg-center bg-no-repeat bg-blend-multiply xl:order-last xl:col-span-4"
  >
    <div
      class="flex items-center justify-start px-10 py-10 md:py-8 xl:h-screen"
    >
      <h1
        class="mx-4 text-start text-7xl font-extrabold uppercase leading-none tracking-wide text-white md:text-8xl lg:text-9xl"
      >
        World <br /> Wide <br /> Fusion
      </h1>
    </div>
  </div>

  <div class="order-last col-span-8 row-span-5 xl:order-first xl:col-span-4">
    <div
      class="flex flex-col justify-between bg-white dark:bg-gray-800 md:h-full"
    >
      <div class="my-16 px-6 xl:my-auto">
        <p class="mb-4">
          <span
            class="text-2xl font-light uppercase tracking-wide text-primary-600 dark:text-gray-200"
          >
            Dinner:
          </span>

          <span
            class="block text-4xl font-medium text-accent-400 dark:text-accent-500 lg:text-5xl"
          >
            Curries, burgers, ramen
          </span>
        </p>
        <div
          class="text-justify text-lg text-gray-400 dark:text-gray-200 md:text-2xl"
        >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<SectionBreak
  backgroundColor="bg-secondary-600"
  stripeColor="bg-accent-400"
  textColor="text-white"
  text="RZBK"
/>

<!-- cocktails -->
<div class="grid grid-cols-8 grid-rows-5">
  <div
    class="order-first col-span-8 row-span-5 bg-gray-400 bg-[url('/cocktails.webp')] bg-cover bg-center bg-no-repeat bg-blend-multiply xl:order-first xl:col-span-4"
  >
    <div class="flex items-center justify-end px-10 py-10 md:py-8 xl:h-screen">
      <h1
        class="mx-4 text-end text-7xl font-extrabold uppercase leading-none tracking-wide text-white md:text-8xl lg:text-9xl"
      >
        Craft <br /> the <br /> planet
      </h1>
    </div>
  </div>

  <div class="order-last col-span-8 row-span-5 xl:order-last xl:col-span-4">
    <div
      class="flex flex-col justify-between bg-white dark:bg-gray-800 md:h-full"
    >
      <div class="my-16 px-6 xl:my-auto">
        <p class="mb-4">
          <span
            class="text-2xl font-light uppercase tracking-wide text-primary-600 dark:text-gray-200"
          >
            Cocktails:
          </span>

          <span
            class="block text-4xl font-medium text-secondary-400 dark:text-secondary-500 lg:text-5xl"
          >
            Finest craft beers and spirits
          </span>
        </p>

        <div
          class="text-justify text-lg text-gray-400 dark:text-gray-200 md:text-2xl"
        >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sunday brunch -->
<div class="grid grid-cols-8 grid-rows-5">
  <div
    class="order-first col-span-8 row-span-5 bg-gray-400 bg-[url('/brunch.webp')] bg-cover bg-center bg-no-repeat bg-blend-multiply xl:order-last xl:col-span-4"
  >
    <div
      class="flex items-center justify-start px-10 py-10 md:py-8 xl:h-screen"
    >
      <h1
        class="mx-4 text-start text-7xl font-extrabold uppercase leading-none tracking-wide text-white md:text-8xl lg:text-9xl"
      >
        Brunch <br /> is <br /> back, <br /> bitches
      </h1>
    </div>
  </div>

  <div class="order-last col-span-8 row-span-5 xl:order-first xl:col-span-4">
    <div
      class="flex flex-col justify-between bg-white dark:bg-gray-800 md:h-full"
    >
      <div class="my-16 px-6 xl:my-auto">
        <p class="mb-4">
          <span
            class="text-2xl font-light uppercase tracking-wide text-primary-600 dark:text-gray-200"
          >
            Sunday Brunch:
          </span>

          <span
            class="block text-4xl font-medium text-accent-400 dark:text-accent-500 lg:text-5xl"
          >
            Tofu scrambles, pancakes, rotating specials
          </span>
        </p>

        <div
          class="text-justify text-lg text-gray-400 dark:text-gray-200 md:text-2xl"
        >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            commodi doloremque, fugiat illum magni minus nisi nulla numquam
            obcaecati placeat quia, repellat tempore voluptatum.
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<SectionBreak
  backgroundColor="bg-accent-600"
  stripeColor="bg-primary-400"
  textColor="text-white"
  text="RZBK"
/>
