---

---

<div class="hidden md:block">
  <div
    class="flex w-full items-center justify-end bg-tertiary-600 dark:bg-gray-900"
  >
    <div class="my-16 mr-4 h-full w-full bg-primary-600">
      <div class="my-32 text-primary-600">super secret text</div>
    </div>

    <h1
      class="mr-4 text-right text-7xl font-extrabold uppercase leading-none tracking-wide text-white md:text-8xl lg:text-9xl"
    >
      We<br />Are<br />Razor<br />back<br />Vegan
    </h1>
  </div>
</div>
