---
const { backgroundColor, stripeColor, textColor, text } = Astro.props;
---

<div
  class={`${backgroundColor} inset-0 flex h-full w-full items-center justify-end object-cover`}
>
  <div
    class={`${stripeColor} mr-4 h-14 w-full dark:bg-primary-600 md:h-16 lg:h-24`}
  >
  </div>
  <h1
    id="hero-heading"
    class={`mr-4 text-7xl font-extrabold leading-none tracking-wide ${textColor} md:text-8xl lg:text-9xl`}
  >
    {text}
  </h1>
</div>
