---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer.astro";
import MenuNav from "../components/menu/MenuNav.astro";
import CtaBanner from "../components/CtaBanner.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="flex min-h-screen flex-col bg-white dark:bg-gray-800">
    <Header />
    <div class="h-36 border-b-8 border-black bg-secondary-600"></div>

    <div class="flex-grow">
      <slot />
    </div>
    <CtaBanner />
    <Footer />
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>
